@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url(../../public/images/vlc_ad84kkZprd.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
